 <h1>Hi, <%=current_user.name%>!</h1>
  <h4 >Email: <%=current_user.email%></h4>

    <table id="author">
        <tr>Authored Surveys:
          <% u_surveys = @all.where(user_id: current_user.id) %>
          <% if u_surveys[0] == nil %>
            <td style="color: grey">You have not created any surveys.</td>
            </tr>
          <% else %>
              <td>Name</td>
              <td>Url</td>
              <td>Stats</td>
            </tr>
            <% u_surveys.each do |survey| %>
            <tr>
              <td>
                <form action="/stats/survey/<%= survey.id %>" method="get">
                <input type="submit" value="<%= survey.name %>">
                </form>
              </td>
              <td>http://localhost:9393/survey/<%= survey.id %></td>
              <td>Taken: <%= (survey.responses.length) / 3 %> times.</td>
            </tr>
            <% end %>
          <% end %>
    </table>
    <br>
      <table id="taken">
          <tr>Surveys Taken:
          <% if @user.responses.length == 0 %>
            <td style="color: grey">You have not taken any surveys.</td>
            </tr>
          <% else %>
            </tr>
            <% arr = [] %>
            <% @user.responses.each{ |res| arr << res.survey_id }%>
            <% arr.uniq.each do |s_id| %>
            <tr>
              <td><%= @all.find(s_id).name %></td>
            </tr>
            <% end %>
          <% end %>
      </table>

  <br>
  <table id="survey_list">
    <tr>Surveys you can take!
      <% to_do = @all.where.not(user_id: current_user.id) %>
  <% if @all.where.not(user_id: current_user.id).length == 0 %>
    <td>No one else has created a survey yet.</td>
    </tr>
  <% elsif @all.where.not(user_id: current_user.id).length == 0 %>
    <td>No one else has created a survey yet.</td>
    </tr>
  <% else %>
    <% @all.where.not(user_id: current_user.id).each do |survey| %>
      <td>
      <form class="profile_nav" action="/answer/survey/<%= survey.id %>" method="get">
      <input type="submit" value="<%= survey.name %>">
      </form>
      </td>
      </tr>
    <% end %>
  <% end %>
  </table>
  <br>


<br>
<br>
<br>
 <fieldset>
  <legend>Edit your information</legend>
  <form action="/edit/users/<%=current_user.id%>" method="post">
    <p>You must enter your current password to change any information:</p>
    <input type="password" placeholder="current password" name="pass1">
    <br>
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="email" name="email">
    <input type="text" placeholder="new password" name="pass2">
    <input type="submit" value="Edit">
  </form>
</fieldset>
