<fieldset >
  <legend>Question #<%= @question.id %></legend>
  <p><%= @question.text %></p>
  <p>[<%= @question.votes.length %> votes]</p>
    <form action="/vote/question/<%=@question.id%>" method="post">
      <input type="submit" value="UpVote">
    </form>
    <form action='/answer' method="post">
      <input type="text" placeholder="answer" name="text">
      <input type="hidden" name="question_id" value="<%= @question.id %>">
      <input type="submit" value="AddAnswer">
    </form>
</fieldset>

