<fieldset >
  <legend>Question #<%= question.id %></legend>
  <p><%= question.text %></p>
  <p>[<%= question.votes.length %> votes]</p>
  <p>[<%= question.answers.length %> answers]</p>
    <form action="/vote/question/<%= question.id %>" method="post">
      <input type="submit" value="UpVote">
    </form>
    <form action='/answer' method="post">
      <textarea type="text" placeholder="answer" name="text"></textarea>
      <input type="hidden" name="question_id" value="<%= question.id %>">
      <input type="submit" value="AddAnswer">
    </form>
</fieldset>

